body {
    font-family: 'Times New Roman', serif;
    background-color: orange;
}

h1 {
    font-size: 32px;
    text-indent: 25px;
}

h1 a {
    font-size: 20px;
}

p {
    position: relative;
    font-size: 18px;
    text-indent: 50px;
    top: 25px;
    
    margin-right: 1100px;
    margin-left: 50px;
    
    background-color: lightgreen;
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: yellow;
}

img {
    transform: translate(125%, -100%);
    vertical-align: middle;
    width: 750px;
    height: 750px;
}

.speech {
    padding: 20px;
    margin-right:600px;
    margin-left:600px;
    background-color: cyan;
}

caption {
    padding: 50px;
}

.say {
    font-size: 19px;
    position: relative;
    bottom: 0;
    right: 10;
    top: -920px;
    
    margin-right: 1400px;
    margin-left: 50px;
    
    background-color: #ffec87;
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: green;
}

.do {
    font-size: 17px;
    position: relative;
    bottom: 0;
    right: 100;
    top: -1870px;
    
    margin-right: 50px;
    margin-left: 1400px;
    
    background-color: #cf28db;
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: green;
}

div {
    text-indent: 25px;
}

section{
    position: relative;
    font-size: 18px;
    text-indent: 50px;
    top: 25px;
    
    margin-right: 950px;
    margin-left: 950px;
    
    background-color: lightblue;
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: yellow;
}

h3 {
    font-size: 18px;
}